<h2>Nouveau tweet !</h2>

<div class="container-fluid">
    <form method="post" action="/tweets">
        <div class="form-group">
            <label for="user">Utilisateur</label>
            <input name="user" type="text" class="form-control" id="user">
        </div>
        <div class="form-group">
            <label for="title">Titre</label>
            <input name="title" type="text" class="form-control" id="title" aria-describedby="titleHelp">
        </div>
        <div class="form-group">
            <label for="content">Contenu</label>
            <textarea name="content" class="form-control" id="content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
        <a href="/tweets" class="btn btn-cancel">Annuler</a>
    </form>
</div>